
.Button {
  border: none;
  background-color: rgb(225, 0, 255);
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: #242a3d;
}
