.EventCard {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.CardBody {
  display: flex;
  flex-direction: row;
}

.EventImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.EventDetails {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.EventTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
}

.EventMeta {
  display: flex;
  flex-direction: column;
}

.Badge {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.Musicians {
  margin-bottom: 1rem;
}

.MusiciansList {
  list-style-type: disc;
  margin: 0.5rem 0 0 1.5rem;
  padding: 0;
}

.MusicianItem {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

.EventDescription {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.Button {
  border: none;
  background-color: rgb(225, 0, 255);
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  position: relative;
  z-index: 2;
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

.Button:hover {
  cursor: pointer;
  background-color: #6A0DAD;
  color: #fff;
}

@media (max-width: 1200px) {
  .EventCard {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .CardBody {
    flex-direction: column;
  }

  .EventImage {
    height: 300px;
  }

  .EventDetails {
    padding: 1.5rem;
  }

  .EventTitle {
    font-size: 2rem;
  }

  .Badge {
    font-size: 1rem;
  }

  .MusicianItem {
    font-size: 1rem;
  }

  .EventDescription {
    font-size: 1rem;
  }

  .ViewButton {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .EventImage {
    height: 250px;
  }

  .EventDetails {
    padding: 1rem;
  }

  .EventTitle {
    font-size: 1.8rem;
  }

  .Badge {
    font-size: 0.9rem;
  }

  .MusicianItem {
    font-size: 0.9rem;
  }

  .EventDescription {
    font-size: 0.95rem;
  }

  .ViewButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
