.EventContainer {
  min-height: 343px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: #c97cff;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 80px;
}

.EventInfo {
  min-height: 343px;
  color: #c97cff;
  border-radius: 8px;
  box-sizing: border-box;
}
.EventInfo i{ 
  color: #ee00ff;
}

.EventImage {
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.EventTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffaf0;
}

.EventLabel {
  font-weight: bold;
  color: #ffffff;
}

.MusiciansList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.MusicianCard {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.MusicianCard:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.MusicianLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.MusicianImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fffaf0;
}

.MusicianName {
  font-size: 1rem;
  font-weight: bold;
}

.Error {
  color: red;
  font-weight: bold;
}

.Buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Buttons button {
  font-size: 1rem;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: black;
  border: none;
  transition: all 0.2s ease-in-out;

}

.Buttons button:hover {
  background-color: #6A0DAD;
  color: #fff;
}
.dropdownContainer i {
  color: #ee00ff;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

.dropdownContainer {
  position: absolute;
  right: 10px;
}

@media (max-width: 768px) {
  .Buttons {
    flex-direction: column;
  }

  .Buttons button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .Buttons button {
    font-size: 0.8rem;
  }
}
