/* Base Styles */
.HomeContainer {
  max-height: 80vh;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fffaf0;
  color: #c97cff;
  padding: 20px 30px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;

}

.carouselContainer { 
  background-color: #fff;
  max-height: 600px;
}

.HomeTitle {
  font-size: 2.75rem;
}
.CarouselTitle {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.carousel-caption p {
  color: #c97cff;
}

/* Carousel Text & Images */
.CarouselText {
  color: #fffaf0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/* Buttons */
.Button {
  border: none;
  background-color: rgb(225, 0, 255);
  color: aliceblue;
  border-radius: 100px;
  padding: 4px 10px;
  width: 115px;
  margin: 5px;
  position: relative;
  z-index: 2;
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.Button:hover {
  cursor: pointer;
  background-color: #6A0DAD;
  color: #fff;
}

/* Screens up to 1200px */
@media (max-width: 1200px) {
  .EventCard {
    max-width: 1000px;
  }
  .EventImage {
    height: 300px;
  }
}

/* Screens up to 992px */
@media (max-width: 992px) {
  .CardBody {
    flex-direction: column;
  }
  .EventImage {
    height: 300px;
  }
  .EventDetails {
    padding: 1.5rem;
  }
  .EventTitle {
    font-size: 2rem;
  }
  .Badge,
  .MusicianItem {
    font-size: 1rem;
  }
  .EventDescription {
    font-size: 1rem;
  }
  .ViewButton {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }
}

/* Screens up to 576px */
@media (max-width: 576px) {
  .EventImage {
    height: 250px;
  }
  .EventDetails {
    padding: 1rem;
  }
  .EventTitle {
    font-size: 1.8rem;
  }
  .Badge,
  .MusicianItem {
    font-size: 0.9rem;
  }
  .EventDescription {
    font-size: 0.95rem;
  }
  .HomeContainer {
    padding: 20px;
    margin-bottom: 5px;
  }
  .HomeTitle {
    font-size: 2rem;
  }
  .HomeDescription {
    font-size: 1rem;
  }
}

/* Screens up to 400px */
@media (max-width: 400px) {
  .HomeContainer {
    padding: 15px;
  }
  .HomeTitle {
    font-size: 1.8rem;
  }
  .HomeDescription {
    font-size: 0.9rem;
  }
  .CallToActions {
    flex-direction: row;
    gap: 0;
  }
}
