.NavBar {
  background-color: #d4d4ff;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #919191;

}

.Logo {
  border-radius: 50%;
  height: 65px;
}

.NavLink {
  color: #000000;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.NavLink:hover {
  color: rgb(225, 0, 255);
  transform: scale(1);
}

.Active {
  color: rgb(225, 0, 255);
  font-weight: 700;
}

.NavLink i {
  color: #9f0092;
}
a:hover i {
  color: #9f0092;
}