.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f5dc;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #fffaf0;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #000000;
}

.AuthBackground {
  background-image: url('https://res.cloudinary.com/du7daaai2/image/upload/v1737558490/sign-up-background_vydkzo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventsBackground {
  background-image: url('https://res.cloudinary.com/du7daaai2/image/upload/v1738243951/events.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #4b0082;
  font-weight: 600;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:hover i {
  color: #6a5acd;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #4b0082;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #6a5acd;
}

figure {
  text-align: center;
  display: inline-block;
}
.commentSectionCol {
  padding: 10px;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track { 
  background: #f8f8f8;
}

*::-webkit-scrollbar-thumb {
  background: #4b0082;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6a5acd;
}
